<section class="error-section" style="background-image:url(/assets/images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-section">
            <h1>404</h1>
            <h2>{{AlertText}}</h2>
            <div class="text">Try the search below to find matching pages:</div>
            
            <!-- Search -->
            <div class="error-search-form">
                <form method="post" action="contact.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="Search..." required="">
                        <button type="submit"><span class="icon fa fa-search"></span></button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>