<div class="page-wrapper">

  <!-- Modal Authen Account  -->
  <app-modal-authen id="root-login"></app-modal-authen>
  
<!-- Main Header-->
<app-appheader></app-appheader>
<!--End Main Header -->

<div style="margin-top: 130px;"></div>

<section class="car-search-form">
  <div class="auto-container">
      <div class="inner-section">
          
            <!--Product Info Tabs-->
            <div class="car-search-tab">
            
                <!--Tabs Box-->
                <div class="prod-tabs tabs-box">
                
                    <!--Tab Btns-->
                    <ul class="tab-btns tab-buttons clearfix">
                        <li data-tab="#used-car" class="tab-btn active-btn">Used Cars</li>
                        <li data-tab="#new-car" class="tab-btn">New Cars</li>
                    </ul>
                    
                    <!--Tabs Container-->
                    <div class="tabs-content">
                        
                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="used-car">
                            <div class="content">
                                <!-- Car Search Form -->
                                <div class="car-search-form">
                                    <form method="post" action="news.html">
                                        <div class="row clearfix">
                                          <div class="column col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                              <div class="row clearfix">
                                                  
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-1" style="display: none;">
                                                            <option>All Makes</option>
                                                            <option>Makes One</option>
                                                            <option>Makes Two</option>
                                                            <option>Makes Three</option>
                                                            <option>Makes Four</option>
                                                        </select><span tabindex="0" id="ui-id-1-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-1-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">All Makes</span></span>
                                                    </div>
                                                    
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-2" style="display: none;">
                                                            <option>All Model</option>
                                                            <option>Model One</option>
                                                            <option>Model Two</option>
                                                            <option>Model Three</option>
                                                            <option>Model Four</option>
                                                        </select><span tabindex="0" id="ui-id-2-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-2-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">All Model</span></span>
                                                    </div>
                                                    
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-3" style="display: none;">
                                                            <option>Max.Price</option>
                                                            <option>Price One</option>
                                                            <option>Price Two</option>
                                                            <option>Price Three</option>
                                                            <option>Price Four</option>
                                                        </select><span tabindex="0" id="ui-id-3-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-3-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Max.Price</span></span>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="column col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                              <div class="row clearfix">
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-4" style="display: none;">
                                                            <option>Mileage</option>
                                                            <option>Mileage One</option>
                                                            <option>Mileage Two</option>
                                                            <option>Mileage Three</option>
                                                            <option>Mileage Four</option>
                                                        </select><span tabindex="0" id="ui-id-4-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-4-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Mileage</span></span>
                                                    </div>
                                                    
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-5" style="display: none;">
                                                            <option>Newyork City</option>
                                                            <option>Chicago One</option>
                                                            <option>California Two</option>
                                                        </select><span tabindex="0" id="ui-id-5-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-5-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Newyork City</span></span>
                                                    </div>
                                                    
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <button class="theme-btn search-btn" type="submit" name="submit-form">Search</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
            
                                        </div>
                                    </form>
            
                                </div>
                            </div>
                        </div>
                        
                        <!--Tab-->
                        <div class="tab" id="new-car">
                            <div class="content">
                                <!-- Car Search Form -->
                                <div class="car-search-form">
                                    <form method="post" action="news.html">
                                        <div class="row clearfix">
                                          <div class="column col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                              <div class="row clearfix">
                                                  
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-6" style="display: none;">
                                                            <option>All Makes</option>
                                                            <option>Makes One</option>
                                                            <option>Makes Two</option>
                                                            <option>Makes Three</option>
                                                            <option>Makes Four</option>
                                                        </select><span tabindex="0" id="ui-id-6-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-6-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">All Makes</span></span>
                                                    </div>
                                                    
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-7" style="display: none;">
                                                            <option>All Model</option>
                                                            <option>Model One</option>
                                                            <option>Model Two</option>
                                                            <option>Model Three</option>
                                                            <option>Model Four</option>
                                                        </select><span tabindex="0" id="ui-id-7-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-7-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">All Model</span></span>
                                                    </div>
                                                    
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-8" style="display: none;">
                                                            <option>Max.Price</option>
                                                            <option>Price One</option>
                                                            <option>Price Two</option>
                                                            <option>Price Three</option>
                                                            <option>Price Four</option>
                                                        </select><span tabindex="0" id="ui-id-8-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-8-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Max.Price</span></span>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="column col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                              <div class="row clearfix">
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-9" style="display: none;">
                                                            <option>Mileage</option>
                                                            <option>Mileage One</option>
                                                            <option>Mileage Two</option>
                                                            <option>Mileage Three</option>
                                                            <option>Mileage Four</option>
                                                        </select><span tabindex="0" id="ui-id-9-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-9-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Mileage</span></span>
                                                    </div>
                                                    
                                                    <!--Form Group-->
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <select class="custom-select-box" id="ui-id-10" style="display: none;">
                                                            <option>Newyork City</option>
                                                            <option>Chicago One</option>
                                                            <option>California Two</option>
                                                        </select><span tabindex="0" id="ui-id-10-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-10-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Newyork City</span></span>
                                                    </div>
                                                    
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                                        <button class="theme-btn search-btn" type="submit" name="submit-form">Search</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
            
                                        </div>
                                    </form>
            
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <!--End Product Info Tabs-->
            
        </div>
    </div>
</section>

<section class="popular-cars-section">
  <div class="auto-container">
      <!--Sec Title-->
    <div class="sec-title">
          <h2>Popular New Cars</h2>
        </div>
    <!--End Sec Title-->
        <div class="row clearfix">
          <!--Car Block-->
            <div class="car-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a href="inventory-single.html"><img src="images/resource/car-1.png" alt=""></a>
                        <div class="price">$42000</div>
                    </div>
                    <h3><a href="inventory-single.html">BMW F12 6 Convertible</a></h3>
                    <div class="lower-box">
                      <ul class="car-info">
                          <li><span class="fa fa-road icon"></span>26000</li>
                            <li><span class="icon fa fa-car"></span>Diesel</li>
                            <li><span class="icon fa fa-clock-o"></span>2014</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--Car Block-->
            <div class="car-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a href="inventory-single.html"><img src="images/resource/car-2.png" alt=""></a>
                        <div class="price">$35500</div>
                    </div>
                    <h3><a href="inventory-single.html">Audi A8 3.0 TDI S12</a></h3>
                    <div class="lower-box">
                      <ul class="car-info">
                          <li><span class="fa fa-road icon"></span>18000</li>
                            <li><span class="icon fa fa-car"></span>Petrol</li>
                            <li><span class="icon fa fa-clock-o"></span>2008</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--Car Block-->
            <div class="car-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a href="inventory-single.html"><img src="images/resource/car-3.png" alt=""></a>
                        <div class="price">$24000</div>
                    </div>
                    <h3><a href="inventory-single.html">Ford Fiesta Hatchback</a></h3>
                    <div class="lower-box">
                      <ul class="car-info">
                          <li><span class="fa fa-road icon"></span>32500</li>
                            <li><span class="icon fa fa-car"></span>Diesel</li>
                            <li><span class="icon fa fa-clock-o"></span>2005</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--Car Block-->
            <div class="car-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a href="inventory-single.html"><img src="images/resource/car-4.png" alt=""></a>
                        <div class="price">$35500</div>
                    </div>
                    <h3><a href="inventory-single.html">Audi A8 3.0 TDI S12</a></h3>
                    <div class="lower-box">
                      <ul class="car-info">
                          <li><span class="fa fa-road icon"></span>18000</li>
                            <li><span class="icon fa fa-car"></span>Petrol</li>
                            <li><span class="icon fa fa-clock-o"></span>2008</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--Car Block-->
            <div class="car-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a href="inventory-single.html"><img src="images/resource/car-5.png" alt=""></a>
                        <div class="price">$23750</div>
                    </div>
                    <h3><a href="inventory-single.html">Caterham 7 Superlight</a></h3>
                    <div class="lower-box">
                      <ul class="car-info">
                          <li><span class="fa fa-road icon"></span>32500</li>
                            <li><span class="icon fa fa-car"></span>Diesel</li>
                            <li><span class="icon fa fa-clock-o"></span>2010</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--Car Block-->
            <div class="car-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a href="inventory-single.html"><img src="images/resource/car-6.png" alt=""></a>
                        <div class="price">$15000</div>
                    </div>
                    <h3><a href="inventory-single.html">Mercedes Benz c Class</a></h3>
                    <div class="lower-box">
                      <ul class="car-info">
                          <li><span class="fa fa-road icon"></span>26000</li>
                            <li><span class="icon fa fa-car"></span>Diesel</li>
                            <li><span class="icon fa fa-clock-o"></span>2014</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--Car Block-->
            <div class="car-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a href="inventory-single.html"><img src="images/resource/car-7.png" alt=""></a>
                        <div class="price">$32500</div>
                    </div>
                    <h3><a href="inventory-single.html">ferrari F12 Novitec</a></h3>
                    <div class="lower-box">
                      <ul class="car-info">
                          <li><span class="fa fa-road icon"></span>15000</li>
                            <li><span class="icon fa fa-car"></span>Diesel</li>
                            <li><span class="icon fa fa-clock-o"></span>2002</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--Car Block-->
            <div class="car-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a href="inventory-single.html"><img src="images/resource/car-8.png" alt=""></a>
                        <div class="price">$42000</div>
                    </div>
                    <h3><a href="inventory-single.html">BMW F12 6 Convertible</a></h3>
                    <div class="lower-box">
                      <ul class="car-info">
                          <li><span class="fa fa-road icon"></span>26000</li>
                            <li><span class="icon fa fa-car"></span>Diesel</li>
                            <li><span class="icon fa fa-clock-o"></span>2014</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="popular-cars-section-two">
  <div class="auto-container">
      <!--Sec Title-->
        <div class="sec-title centered">
          <h2>Popular Used Cars</h2>
        </div>
        
        <!--Popular Used Tabs-->
        <div class="popular-used-car">
        
            <!--Tabs Box-->
            <div class="prod-tabs tabs-box">
              <div class="text-center">
                    <!--Tab Btns-->
                    <ul class="tab-btns tab-buttons clearfix">
                        <li data-tab="#prod-all" class="tab-btn"><span class="text">View All</span></li>
                        <li data-tab="#prod-city" class="tab-btn active-btn"><span class="text">By City</span><span class="icon flaticon-planet-earth"></span></li>
                        <li data-tab="#prod-brand" class="tab-btn"><span class="text">By Brand</span><span class="icon flaticon-check-2"></span></li>
                        <li data-tab="#prod-price" class="tab-btn"><span class="text">By Price</span><span class="icon fa fa-credit-card"></span></li>
                        <li data-tab="#prod-body" class="tab-btn"><span class="text">By Body</span><span class="icon flaticon-car"></span></li>
                    </ul>
                </div>
                
                <!--Tabs Container-->
                <div class="tabs-content">
                    
                    <!--Tab-->
                    <div class="tab" id="prod-all">
                        <div class="content">
                            <div class="row clearfix">
                            
                              <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-statue-of-liberty"></span>
                                        </div>
                                        <h3><a href="shop.html">Newyork City</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-capitol"></span>
                                        </div>
                                        <h3><a href="shop.html">Washington</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-golden-gate-bridge"></span>
                                        </div>
                                        <h3><a href="shop.html">San Fransisco</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-space-needle"></span>
                                        </div>
                                        <h3><a href="shop.html">Seattle</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-university"></span>
                                        </div>
                                        <h3><a href="shop.html">Cambridge</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-statue-of-liberty"></span>
                                        </div>
                                        <h3><a href="shop.html">Newyork City</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-capitol-1"></span>
                                        </div>
                                        <h3><a href="shop.html">Portland</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-holidays"></span>
                                        </div>
                                        <h3><a href="shop.html">charlotte</a></h3>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="row clearfix">
                            
                              <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/27.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/28.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/29.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/30.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/31.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/32.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/33.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/34.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="row clearfix">
                            
                              <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">Under 1 Lakh</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$1 to $2 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$3 to $4 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$4 to $5 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$6 to $8 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$8 to $12 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$12 to $20 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">20 Lakhs and Above</a>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="row clearfix">
                            
                              <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/1.png" alt=""></div><div class="text">Convertible (28)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/2.png" alt=""></div><div class="text">Minivan (15)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/3.png" alt=""></div><div class="text">Zeepcar (14)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/4.png" alt=""></div><div class="text">Compact (32)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/5.png" alt=""></div><div class="text">Riding Car (19)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/6.png" alt=""></div><div class="text">Luxury Car (48)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/7.png" alt=""></div><div class="text">Electric Car (10)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/8.png" alt=""></div><div class="text">Sports Car (25)</div></a>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Tab / Active Tab-->
                    <div class="tab active-tab" id="prod-city">
                        <div class="content">
                            <div class="row clearfix">
                            
                              <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-statue-of-liberty"></span>
                                        </div>
                                        <h3><a href="shop.html">Newyork City</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-capitol"></span>
                                        </div>
                                        <h3><a href="shop.html">Washington</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-golden-gate-bridge"></span>
                                        </div>
                                        <h3><a href="shop.html">San Fransisco</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-space-needle"></span>
                                        </div>
                                        <h3><a href="shop.html">Seattle</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-university"></span>
                                        </div>
                                        <h3><a href="shop.html">Cambridge</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-statue-of-liberty"></span>
                                        </div>
                                        <h3><a href="shop.html">Newyork City</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-capitol-1"></span>
                                        </div>
                                        <h3><a href="shop.html">Portland</a></h3>
                                    </div>
                                </div>
                                
                                <!--City Block-->
                                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <div class="icon-box">
                                          <span class="icon flaticon-holidays"></span>
                                        </div>
                                        <h3><a href="shop.html">charlotte</a></h3>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Tab-->
                    <div class="tab" id="prod-brand">
                        <div class="content">
                            
                            <div class="row clearfix">
                            
                              <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/27.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/28.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/29.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/30.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/31.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/32.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/33.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                                <!--Brand Block-->
                                <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <figure class="image"><a href="#"><img src="images/clients/34.png" alt=""></a></figure>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Tab-->
                    <div class="tab" id="prod-price">
                        <div class="content">
                            <div class="row clearfix">
                            
                              <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">Under 1 Lakh</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$1 to $2 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$3 to $4 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$4 to $5 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$6 to $8 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$8 to $12 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">$12 to $20 Lakhs</a>
                                    </div>
                                </div>
                                
                                <!--Price Block-->
                                <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="text">20 Lakhs and Above</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <!--Tab-->
                    <div class="tab" id="prod-body">
                        <div class="content">
                            <div class="row clearfix">
                            
                              <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/1.png" alt=""></div><div class="text">Convertible (28)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/2.png" alt=""></div><div class="text">Minivan (15)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/3.png" alt=""></div><div class="text">Zeepcar (14)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/4.png" alt=""></div><div class="text">Compact (32)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/5.png" alt=""></div><div class="text">Riding Car (19)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/6.png" alt=""></div><div class="text">Luxury Car (48)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/7.png" alt=""></div><div class="text">Electric Car (10)</div></a>
                                    </div>
                                </div>
                                
                                <!--Body Block-->
                                <div class="body-block col-md-3 col-sm-4 col-xs-12">
                                  <div class="inner-box">
                                      <a href="#" class="link-box"><div class="icon-box"><img src="images/icons/car-icons/8.png" alt=""></div><div class="text">Sports Car (25)</div></a>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <!--End Product Info Tabs-->
        
    </div>
</section>


<!--Main Footer-->
<app-appfooter></app-appfooter>
<!--End Main Footer-->


</div>


<!--Scroll to top-->
<div id="root_scroll_top" class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>